@mixin restaurant-footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 0.85rem;
    line-height: 1.6;
    background: #242323;
    margin-top: 3rem;
}

@mixin box_logo-image{
    padding-left: 3.125rem;
    display: flex;
    justify-content: left;
    text-align: left;
}

@mixin footer_logo-image {
    display: flex;
    text-align: left;
    max-width: 9.25rem;
    height: auto;
    filter: invert(100%); 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@mixin footer_container{
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

@mixin footer_icon1{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    padding-bottom: 0.625rem;
    padding-right: 1rem;
    font-weight: map-get($font-weights, "bold" );
}

@mixin footer_icon2{
    display: flex;
    font-size: 20px;
    padding-bottom: 0.625rem;
    font-weight: map-get($font-weights, "bold" );
}

@mixin footer-text{
    text-align: left;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    padding-left: 2.1rem;
    font-weight: map-get($font-weights, "bold" );
    font-family: Arial, Helvetica, sans-serif;    
}

.icon-text1{
    padding-left: 0.85rem;
    font-weight: map-get($font-weights, "bold" );
    font-family: Arial, Helvetica, sans-serif;
}

.icon-text2{
    padding-left: 0.5rem;
    font-weight: map-get($font-weights, "bold" );
    font-family: Arial, Helvetica, sans-serif;
}