@mixin menu-btn-before{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 50%;
    height: 3.125rem;
    width: 3.125rem;;
    border: 5px solid purple;
    background: purple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: map-get($font-weights, "bold" );
    font-size: 2rem;
}