@mixin menu-btns {
    border: none;
    color: white;
    padding: 50px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    background: #FFF8DC;
    color: rgb(3, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 95%;
    display: flex;
    flex-direction: row;
}
