@import '_config';
@import '_menu-btns';
@import 'explore-btn';
@import 'menu-btn-before';

.body {
    background-color: $primary-color;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
}

.header__logo-image{
    max-width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo-image { 
    max-width: 100%;
    height: auto;
}

.location__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #DCDCDC;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.location_icon{
    padding-right: 0.8rem;
}

.location_text{
    font-weight: map-get($font-weights, "bold" );
}

.home{
    max-height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #FFFAF0;
    padding-bottom: 6.25rem;
}

.home__greeting{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.text-bold{
    font-size: 3.125rem;
    font-weight: map-get($font-weights, "bold" );
}

.text-grey{
    color: grey;
    font-size: 3.125rem;
    max-width: 100%;
}

.explore-btn {
    @include explore-btn
}
.explore-btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.explore-btn:active {
	position:relative;
	top:1px;
}

.menu_header{
    font-family: Helvetica;
    font-size: 4rem;
    font-weight: map-get($font-weights, "bold" );
    padding-left: 3rem;
}

.menu-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3.125rem;
}


.menu{
   align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
    padding-left: 3.125rem;

}


.btn-choose{
    @include menu-btns; 
}
.btn-choose::before {
    @include menu-btn-before;
    content: '1';
}

.btn-create{
    @include menu-btns; 
}
.btn-create::before{
    @include menu-btn-before;
    content: '2';
}

.btn-enjoy{
    @include menu-btns; 
}
.btn-enjoy::before{
    @include menu-btn-before;
    content: '3';
}

.btn__text{
    font-size: 2em;
    align-self: center;
}

.row_icon1{
    font-size: 3rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    display: flex;
}

.row_icon2{
    font-size: 3rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    display: flex;
    color: purple;
}

.poloroid{
    width: 85%;
    background-color: white;
    margin-bottom: 1.563rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;

}

.restaurant-image{
    max-width: 100%;
    max-height: auto;
   
}

.restaurant-info{
    text-align: left;
    padding:0.625rem 1.25rem;
}

.restaurant-name{
    font-weight: map-get($font-weights, "bold" );
}

.bnt-like{
    display: flex;
    flex-wrap: wrap;
    flex-direction: right;
}

footer {
    font-size: 0.85rem;
    padding: 1.25rem 0;
    line-height: 1.6;
    background: #242323;
}

.box__logo-image{
padding-left: 3.125rem;

}

.footer__logo-image {
    max-width: 6.25rem;
    height: auto;
    filter: invert(100%); 
}

.footer__text{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    
}

.icon_footer{
    padding-bottom: 0.625rem;
    font-weight: map-get($font-weights, "bold" );
    
}