@import '_config';
@import '_menu-btns';
@import 'explore-btn';

.body {
    background-color: $primary-color;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
}

.header__logo-image{
    max-width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo-image { 
    max-width: 100%;
    height: auto;
}

.location__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #DCDCDC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.location_icon{
    padding-right: 0.8rem;
}

.location_text{
    font-weight: map-get($font-weights, "bold" );
}

.home{
    max-height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #FFFAF0;
    padding-bottom: 100px;

    &__greeting{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}

.text-bold{
    font-size: 50px;
    font-weight: map-get($font-weights, "bold" );
}

.text-grey{
    color: grey;
    font-size: 50px;
    max-width: 100%;
}

.explore-btn {
    @include explore-btn
}
.explore-btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.explore-btn:active {
	position:relative;
	top:1px;
}

.menu_header{
    font-family: Helvetica;
    font-size: 4rem;
    font-weight: map-get($font-weights, "bold" );
    padding-left: 3%;
}

.menu-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}


.menu{
   align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 3%;

}


.btn-choose{
    @include menu-btns; 
}
.btn-choose::before {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 5px solid purple;
    background: purple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    content: '1';
    justify-content: center;
    align-content: center;
    font-weight: map-get($font-weights, "bold" );
    font-size: 2rem;
}

.btn-create{
    @include menu-btns; 
}
.btn-create::before{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 5px solid purple;
    background: purple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    content: '2';
    justify-content: center;
    align-content: center;
    font-weight: map-get($font-weights, "bold" );
    font-size: 2rem;
}

.btn-enjoy{
    @include menu-btns; 
}
.btn-enjoy::before{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 5px solid purple;
    background: purple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    content: '3';
    justify-content: center;
    align-content: center;
    font-weight: map-get($font-weights, "bold" );
    font-size: 2rem; 
}

.btn__text{
    font-size: 2em;
    align-self: center;
}

.row_icon1{
    font-size: 3rem;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}

.row_icon2{
    font-size: 3rem;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    color: purple;
}

.poloroid{
    width: 85%;
    background-color: white;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;

}

.restaurant-image{
    max-width: 100%;
    max-height: auto;
   
}

.restaurant-info{
    text-align: left;
    padding: 10px 20px;
}

.restaurant-name{
    font-weight: map-get($font-weights, "bold" );
}

.bnt-like{
    display: flex;
    flex-wrap: wrap;
    flex-direction: right;
}

footer {
font-size: 0.85rem;
padding: 20px 0;
line-height: 1.6;
background: #242323;
}
.box__logo-image{
padding-left: 50px;

}

.footer__logo-image {
    max-width: 100px;
    height: auto;
    filter: invert(100%); 
}

.footer__text{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    
}

.icon_footer{
padding-bottom: 10px;
font-weight: map-get($font-weights, "bold" );
    
}